
body {
    background-image:url(../images/Disney6.jpg);
 background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


header{
	text-align: center;
}
a, u {
    text-decoration: none;
}

a:visited {
	color: white;
}
a:hover {
	cursor: pointer;

}
#head{
	font-size: 40pt;
	font-family: sans-serif;
}
#wrapper{
	background-color: rgba(200, 200, 200, 0.3);
	width: 40%;
	text-align: center;
	margin-left: 50px;
	margin-top: 50px;
	padding-bottom: 10px;
	border: black 2px solid;
	border-radius: 25px;
	font-family: sans-serif;
	padding-left: 30px;
}
#done{
	font-size: 20pt;
	margin-top: -5px;
	margin-bottom: 40px;
}

ul {
    list-style-type: none;
    text-align: left;
}
.button{
	color: white;
	border: 2px solid black;
	text-align: center;
	border-radius: 10px;
	background-color: black;
	font-size: 11pt;
	cursor: pointer;
}
#next{
	width: 60px;
	float: right;
	margin-right: 30px;
	margin-top: 49px;
}
